$white: #fff;
$off-white: #f9faff;
$neutral: #eceef9;
$red: #ff5c6f;
$yellow: #ffc140;
$lightGreen: #00b433;
$green: #0cd5a2;
$blue: #00b2fd;
$lightIndigo: #dfe3fa;
$indigo: #2f2d51;
$darkIndigo: #20263d;
$gray: #636670;
$black: #000;

// Convert color to RGBA
//
// @param {color} $color - color to convert
// @param {number} $alpha - opacity: 0 to 1
@function to-rgba($color, $alpha: null) {
  $red: round(red($color));
  $green: round(green($color));
  $blue: round(blue($color));
  $alpha: if($alpha, $alpha, alpha($color));

  @return unquote('rgba(#{$red}, #{$green}, #{$blue}, #{$alpha})');
}
