@import 'fonts';

$CircularStd-Black: 'CircularStd-Black', sans-serif;
$CircularStd-Bold: 'CircularStd-Bold', sans-serif;
$CircularStd-Medium: 'CircularStd-Medium', sans-serif;
$CircularStd-Book: 'CircularStd-Book', sans-serif;
$CircularStd-BookItalic: 'CircularStd-BookItalic', sans-serif;

// Headings
$incd-h1-font: 700 2.8125rem / 1.1 $CircularStd-Bold;
$incd-h2-font: 700 1.725rem / 1.1 $CircularStd-Bold;
$incd-h3-font: 500 1.25rem / 1.4 $CircularStd-Bold;
$incd-h4-font: 700 0.9375rem / 1.1 $CircularStd-Bold;
$incd-h5-font: 400 1rem / 1.5 $CircularStd-Book;
$incd-p-font: 400 0.94rem / 1.7 $CircularStd-Book;
$incd-cite-font: 400 1.18rem/ 1.3 $CircularStd-BookItalic;
$incd-small-font: 800 0.8125rem/ 1.3 $CircularStd-Bold;

