@import '~/styles/config';

.footer {
  background-color: white;
  padding: 60px 80px;
  .footer_content {
    max-width: 1280px;
    margin: auto;
    .footer_top {
      padding: 0 80px 40px 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .top_menu {
        display: flex;
        .item {
          display: inline-block;
          padding-right: 5rem;
          padding-left: 0;
          li {
            font: 0.8rem/1.5 $CircularStd-Book;
            margin-bottom: 0.6rem;
            &:hover {
              cursor: pointer;
            }
          }
          p,
          a {
            font: 0.9rem/1.5 $CircularStd-Medium;
            margin-bottom: 1.3rem;
          }
          a {
            display: block;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    .footer_bottom {
      margin-top: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bottom_menu {
        display: flex;
        align-items: center;
        padding-inline-start: 0;
        li {
          display: inline-block;
          padding-right: 1.3rem;
          font: 0.9rem/1.5 $CircularStd-Medium;
        }
      }
      .bottom_info {
        display: flex;
        align-items: center;
        .small {
          font: 0.6rem/1.5 $CircularStd-Book;
          color: $gray;
          max-width: 160px;
          margin-right: 10px;
          margin-left: 10px;
        }
        .copy {
          max-width: 320px;
        }
      }
    }
  }
}

@include responsive('tablet') {
  .footer_top {
    display: block;
    padding: 0;
    .top_menu {
      .item {
        padding-right: 2rem;
      }
    }
  }
  .Footer_bottom {
    display: block;
  }
}

@include responsive('phone') {
  .footer {
    padding: 3rem 2rem;
    .footer_content {
      .footer_top {
        display: block;
        padding: 0;
        .top_menu {
          margin-bottom: 3rem;
          margin-top: 3rem;
          display: block;
          .item {
            margin-top: 2rem;
            display: block;
          }
        }
      }

      .footer_bottom {
        display: block;
        .bottom_menu {
          display: grid;
          grid-template-columns: 1fr 1fr;
          li {
            margin-bottom: 0.5rem;
            padding-right: 0;
          }
        }
        .bottom_info {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .small {
            margin: 0;
          }
        }
      }
    }
  }
}
