@import '~/styles/config';

.featured_post_wrapper {
  display: flex;
  @include rounded(8px);
  box-shadow: 0 2px 20px 0 to-rgba($indigo, 0.11);
  background-color: $white;
  max-height: 500px;
  img {
    @include rounded(8px 0 0 8px);
  }
  .post_card_content {
    padding: 3rem 2.5rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .post_card_header,
    .post_card_footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .post_card_header {
      p {
        color: $blue;
      }
      .featured {
        color: $indigo;
        background-color: $lightIndigo;
        margin-left: 10px;
        padding: 2px 12px;
        @include rounded(12px);
      }
    }
    h1 {
      font: $incd-h2-font;
      @include font-smoothing;
      margin: 0;
    }
    .post_card_excerpt {
      font: $incd-p-font;
      font-size: 14px;
      @include font-smoothing;
    }
  }
}

@include responsive('phone') {
  .featured_post_wrapper {
    flex-direction: column;
    max-height: fit-content;
    img {
      @include rounded(8px 8px 0 0);
    }
    .post_card_content {
      padding: 1.2rem 2.5rem;
    }
  }
}