@import '~/styles/config';

.featured_post_wrapper {
  display: flex;
  @include rounded(28px);
  box-shadow: 0 2px 14px 0 to-rgba($indigo, 0.11);
  background-color: $white;
  max-height: 330px;
  img {
    @include rounded(28px 0 0 28px);
  }
  .post_card_content {
    padding: 3rem 2.5rem 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    .post_card_header,
    .post_card_footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .post_card_header {
      h2 {
        margin: 0;
        max-width: 250px;
      }
      time {
        margin-top: 8px;
        font-size: 14px;
        color: to-rgba($indigo, 0.3);
      }
    }
    .post_card_excerpt {
      font: $incd-p-font;
      font-size: 14px;
      @include font-smoothing;
    }
    .separator {
      width: 100%;
      border: 1px solid to-rgba($indigo, 0.3);
      margin: 1.5rem auto;
    }
    .post_card_footer {
        p {
          padding: 5px 15px;
          margin: 0;
          @include rounded(8px);
          font-size: 0.8125rem;
          background-color: $blue;
          color: $white;
        }
      }
  }
}
