@import '~/styles/config';

.container {
  min-height: 100vh;
  padding: 2.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

@include responsive("mobile"){
  .container{
    width: 100%;
  }
}