@import '~/styles/config';

.post_card_wrapper {
  @include rounded(8px);
  box-shadow: 0 2px 14px 0 to-rgba($indigo, 0.11);
  background-color: $white;
  img {
    @include rounded(8px 8px 0 0);
  }
  .post_card_content {
    position: relative;
    padding: 1.3rem 1.5rem 1.5rem 1.5rem;
    height: 300px;
    .post_card_header,
    .post_card_footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
    .category {
      color: $blue;
      margin-top: 0;
    }
    .post_card_header {
      height: 90px;
      h2 {
        max-width: 300px;
        margin: 0;
      }
    }
    .post_card_excerpt {
      font: $incd-p-font;
      font-size: 14px;
      @include font-smoothing;
    }
    .separator {
      border-top: 1px solid to-rgba($indigo, 0.3);
      margin: 1.2rem auto;
    }
    .post_card_footer {
      position: absolute;
      bottom: 1.5rem;
      font: $incd-small-font;
      color: to-rgba($indigo, 0.6);
      .dot_separator {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
