$white: #fff;
$off-white: #f9faff;
$neutral: #eceef9;
$red: #ff5c6f;
$yellow: #ffc140;
$lightGreen: #00b433;
$green: #0cd5a2;
$blue: #00b2fd;
$lightIndigo: #dfe3fa;
$indigo: #2f2d51;
$darkIndigo: #20263d;
$gray: #636670;
$black: #000;