.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1140px;
  margin: 0 auto;
}
.goback {
  text-align: left;
  align-self: self-start;
}
.related_posts_container {
  max-width: 1140px;
  margin: 0 auto;
  .post_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .post_item {
      flex-basis: 33%;
      width: 100%;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
    }
  }
}
