@import 'config';

.slide_wrapper {
  margin: 1rem;
}
.slide_title{
  align-self: flex-start;
  margin-left: 1rem;
}
.article {
  max-width: 730px;
  margin-bottom: 5rem;
  .category_tag {
    font: $incd-h3-font;
    @include font-smoothing;
    color: $blue;
    display: block;
    text-align: center;
  }
  .post_header {
    max-width: 730px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 2.5rem;
    p,
    span {
      font: $incd-h4-font;
      color: $indigo;
      margin: 0;
      .author {
        margin-right: 1rem;
      }
      .date_time {
        font: $incd-p-font;
        color: to-rgba($indigo, 0.6);
        .dot_separator {
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .post_body {
    max-width: 730px;
    margin: auto;
    font-family: $Lora-Book;

    h1 {
      font: $post-h1-font;
      margin-bottom: 1.6rem;
    }

    h2 {
      font: $post-h2-font;
    }

    h3 {
      font: $post-h3-font;
      margin-bottom: 2rem;
    }

    h4 {
      font: $post-h4-font;
    }

    h5 {
      font: $post-h5-font;
      margin-bottom: 2rem;
    }

    p {
      font: $post-p-font;
      color: to-rgba($indigo, 0.6);
      word-wrap: break-word;
      max-width: 100%;
      @include font-smoothing;
    }
    ul {
      list-style-type: disc;
      li {
        font: $post-p-font;
        color: to-rgba($indigo, 0.6);
        @include font-smoothing;
        &::marker {
          color: $neutral;
          font-size: 20px;
        }
      }
    }

    ol {
      li {
        font: $post-p-font;
        color: to-rgba($indigo, 0.6);
        @include font-smoothing;
      }
    }

    a {
      color: $blue;
    }

    blockquote {
      font: $post-cite-font;
      color: $indigo;
      border-left: 5px solid $neutral;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-left: 1rem;
    }
    code {
      font-size: 1rem;
    }
    strong {
      font: $post-strong-font;
      color: $indigo;
    }

    img {
      @include rounded(12px);
    }
  }
}

@include responsive('phone') {
  .slide_wrapper {
    margin: .5rem;
  }
  .article {
    padding: 20px;
    .title{
      text-align: center;
    }
    .post_header{
      display: block;
      text-align: center;
      .author{
        display: block;
      }
    }
  }
}
