@import '~/styles/config';

.share_list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  span {
    font: $incd-p-font !important;
    color: to-rgba($indigo, 0.6) !important;
    margin-right: 2rem;
  }
  li {
    margin-right: 12px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.share_button {
  @include remove-button-style;
  font-family: $CircularStd-Medium;
  text-align: center;
  color: $white;
  background-color: $indigo;
  font-size: 17px;
  padding: 10px 15px;
  min-width: 102px;
  @include font-smoothing;
  @include rounded(23.5px);
  @include transition(all, 0.2s, ease-out);
  &:hover {
    transform: scale(1.05, 1.05);
  }
}
